// fonts mixin

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// breakpoints mixin

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px
) !default;

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// positioning mixin
@mixin pos($type, $args: 0 0 0 0) {
  position: $type;
  $offsets: top right bottom left;
  @if length($args) == 2 or length($args) == 4 {
    @if length($args) == 2 {
      $args: join($args, $args);
    }
    @each $offset in $offsets {
      $offsetVal: nth($args, index($offsets, $offset));
      #{$offset}: validOffset($offsetVal);
    }
  } @else {
    @warn "Invalid number of arguments. (Must be either 2 or 4).";
  }
}
